<h1>Success!</h1>

#if($task)
<p>Your task has been saved.</p>
<a href="/tasks"><button class="btn btn-info">View all tasks</button></a>
#elseif($category)
<p>Your category has been saved.</p>
<a href="/categories"><button class="btn btn-info">View all categories</button></a>
#end

<a href="/categories"><button class="btn btn-info">View all categories</button></a>
