<h1>All tasks</h1>

<ul>
#foreach ($task in $tasks)
  <li><a href="/tasks/$task.getId()">$task.getDescription()</a>: $category.getName()</li>
#end
</ul>
<a href="/tasks/new"><button class="btn btn-info">Add a new task</button></a>
